.list-item {
    display: flex;
    max-width: 432px;
    gap: 16px;
    padding: 16px;
    height: 80px;
    align-items: center;
    color: rgba(var(--primary-color));
    cursor: pointer;
    border-radius: 8px;
}


.active-song {
    background-color: rgba(var(--primary-color), 8%);
}

.list-item:hover {
    background-color: rgba(var(--primary-color), 2%);
}


.list-item-image {
    max-width: 48px;
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.list-item-image img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}

.list-item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.artist-song {
    display: flex;
    flex-direction: column;
}

.artist-song .song-name {
    font-size: 18px;
    line-height: 24px;
}

.artist-song .artist {
    font-size: 14px;
    line-height: 24px;
    font-weight: 100;
    color: rgba(var(--primary-color), 60%);
}

.song-duration {
    font-size: 18px;
    line-height: 24px;
    color: rgba(var(--primary-color), 60%);
}



@media screen and (max-width:1200px) {
    .list-item {
        gap: 13px;
        padding: 13px;
        height: 70px;
    }

    .artist-song .song-name {
        font-size: 16px;
    }

    .artist-song .artist {
        font-size: 12px;
    }

    .song-duration {
        font-size: 16px;
    }
}